parameters:
	ignoreErrors:
		-
			message: '#^Call to method getLayout\(\) on an unknown class Contao\\CoreBundle\\Event\\LayoutEvent\.$#'
			identifier: class.notFound
			count: 3
			path: src/EventListener/InjectPageEntriesListener.php

		-
			message: '#^Call to method getPage\(\) on an unknown class Contao\\CoreBundle\\Event\\LayoutEvent\.$#'
			identifier: class.notFound
			count: 3
			path: src/EventListener/InjectPageEntriesListener.php

		-
			message: '#^Call to method getTemplate\(\) on an unknown class Contao\\CoreBundle\\Event\\LayoutEvent\.$#'
			identifier: class.notFound
			count: 3
			path: src/EventListener/InjectPageEntriesListener.php

		-
			message: '#^Parameter \$event of method HeimrichHannot\\EncoreBundle\\EventListener\\InjectPageEntriesListener\:\:onLayoutEvent\(\) has invalid type Contao\\CoreBundle\\Event\\LayoutEvent\.$#'
			identifier: class.notFound
			count: 1
			path: src/EventListener/InjectPageEntriesListener.php
