parameters:
  level: 3
  paths:
    - src
    - tests
  universalObjectCratesClasses:
    - Contao\LayoutModel
    - Contao\Model
    - Contao\Template
    - PHPUnit\Framework\MockObject\MockObject
includes:
  - vendor/phpstan/phpstan-symfony/extension.neon