parameters:
  level: 4
  paths:
    - src
    - tests
    - contao
  universalObjectCratesClasses:
    - Contao\LayoutModel
    - Contao\Model
    - Contao\Template
    - PHPUnit\Framework\MockObject\MockObject
includes:
  - vendor/phpstan/phpstan-symfony/extension.neon
  - phpstan-baseline.neon